<footer class="container-fluid footer">
  <section class="d-flex flex-row flex-wrap">
    <div class="child-40 flex-column p-5 "><h2>Novel</h2>
      <h2>Computation &amp;</h2>
      <h2>Control</h2>
      <p></p>
      <p>Bulevardul Vasile Pârvan 2, <b>Timișoara</b> 300223</p>
      <p><b>Tel:</b> <a href="tel:777-7777-7777">777-7777-7777</a></p></div>
    <div class="child-30 flex-column p-5 "><h5>About Us</h5>
      <ul class="list-unstyled">
        <li><a href="/">Homepage</a></li>
        <li><a href="about_us">About Us</a></li>
        <li><a href="https://www.upt.ro/">Univeristatea Politehnica Timisoara</a></li>
        <li><a href="/guidelines">Submission Guidelines</a></li>
        <li><a href="https://github.com/NovelComputationAndControl" target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="child-20 flex-column p-5 "><h5>Legal</h5>
      <ul class="align-self-start list-unstyled">
        <li><a href="/policy">Privacy Policy</a></li>
        <li><a href="/policy">Cookie Policy</a></li>
      </ul>
    </div>
  </section>
  <hr>
  <section class="text-center copyright"><p>© {{ currentYear }} Novel Computation &amp; Control.</p></section>
</footer>
