<main class="container">
  <div class="row">
    <header>
      <h2>Paper Detail</h2>
    </header>
    <hr>
    <!--Error Messages-->
    <div *ngIf="message" class="col-12 col-sm-12 col-md-11 col-lg-11  offset-md-1 offset-lg-1">
      <ngb-alert [type]="messageType" [dismissible]="false">
        <strong>Warning!</strong> {{ message }}
      </ngb-alert>
    </div>
    <div *ngIf="paper" class="col-12 col-sm-12 col-md-11 col-lg-11  offset-md-1 offset-lg-1">
      <hr/>
      <h3 class="text-capitalize">{{ paper.title | slice:0:30 }} by
        <a [href]="'mailto://'+paper.user.email">{{ paper.user.firstName }} {{ paper.user.lastName }}</a></h3>
      <p *ngIf="paper.editor" class="text-muted small">This paper is being reviewed by editor: <a
        [href]="'mailto://'+paper.editor.email">{{
        paper.editor.firstName }} {{ paper.editor.lastName }}</a></p>
      <p class="small text-muted">Current Status: <span class="text-capitalize">{{ paper.status }}</span></p>
      <hr/>
    </div>
    <div *ngIf="paper" class="col-12 col-sm-12 col-md-5 col-lg-5  offset-md-1 offset-lg-1">
      <div *ngIf="showActionWindow()">
        <h4 class="text-muted">Actions</h4>
        <p class="small text-muted">You can do the following things to this paper:</p>
        <ul>
          <li *ngIf="isStaff()"><a class="small" href="" (click)="setEditor(paper, $event)">Assign yourself as an
            editor.</a></li>
          <li *ngIf="isStaff()"><a class="small" href="" (click)="deleteEditor(paper, $event)">Delete the current
            editor.</a></li>
          <li><a class="small" href="#">Submit a review.</a></li>
          <li *ngIf="editorReview"><a class="small" href="#" (click)="openFeedBackModal(content, $event)">
            View feedback.</a></li>
        </ul>
      </div>
    </div>
    <div *ngIf="paper" class="col-12 col-sm-12 col-md-5 col-lg-5  offset-md-1 offset-lg-1">
      <div *ngIf="showReviewersWindow()">
        <h4 class="text-muted">Reviewers</h4>
        <p class="small text-muted">The following users have been assigned to review this paper:</p>
        <ul>
          <li *ngIf="!hasReviewers()">No reviewers.</li>
          <li *ngFor="let reviewer of paper.reviewers">{{ reviewer.firstName }} {{ reviewer.lastName }}
            <a href="" (click)="deleteReviewer(reviewer, $event)"><i class="fas fa-trash-alt"></i> Remove</a>
          </li>
        </ul>
        <p class="small text-muted">You can add and remove as many reviewers as you like, just enter their email
          address. For the moment you may only add registered users.</p>
        <form class="form-inline">
          <ngb-alert [type]="'danger'" [dismissible]="false">
            <p>Adding reviewers via email is not supported, yet. Only user id.</p>
          </ngb-alert>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input #reviever_input type="text" class="form-control" id="reviewer" placeholder="Email">
          </div>

          <button type="submit" class="btn btn-primary mb-2" (click)="addReviewer(reviever_input.value)">Add Reviewer
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="paper" class="col-12 col-sm-12 col-md-11 col-lg-11  offset-md-1 offset-lg-1">
      <hr/>
      <h3>Authors</h3>
      <p>{{ paper.authors }}</p>
      <h3>Abstract</h3>
      <p>{{ paper.description }}</p>
      <h3>Links</h3>
      <ul>
        <li><a [href]="paper.manuscript">Download Manuscript</a></li>
        <li><a [href]="paper.cover_letter">Download Cover Letter</a></li>
        <li *ngIf="paper.supplementary_materials"><a [href]="paper.supplementary_materials">Download Supplementary
          Materials</a></li>
      </ul>
    </div>
  </div>
</main>

<!-- Feedback Modal -->
<ng-template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Paper Feedback</h4>
  </div>
  <div class="modal-body">
    <h3>Editor review by: {{ editorReview.user.firstName }} {{ editorReview.user.lastName}}</h3>
    <p>Appropriate: {{ editorReview.appropriate }}</p>
    <p>Recommendation: {{ editorReview.recommendation }}</p>
    <hr>
    <p>Comment</p>
    <p class="review_comment">
      {{ editorReview.comment }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
