<!-- Carousel -->
<header>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="carousel-img" [src]="'/assets/images/airplane.jpeg'" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Aerospace Engineering</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" [src]="'/assets/images/automotive.jpeg'" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Automotive Engineering</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" [src]="'/assets/images/electronics.jpeg'" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Electrical Engineering</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" [src]="'/assets/images/programming.jpeg'" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Software Engineering</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</header>

<!-- Description Row -->
<div class="container-fluid py-5">
  <div class="container"><h1>IEEE Transactions on Computers</h1>
    <p>IEEE Transactions on Computers (TC) is a monthly publication that publishes research in such areas as computer
      organizations and architectures, digital devices, operating systems, and new and important applications and
      trends. Will style later.</p></div>
</div>

<!-- Author's Row -->
<section class="container-fluid authorRow">
  <div class="container">
    <div class="p-2"></div>
    <div>
      <div><h2>Board Members</h2></div>
      <div class="d-flex flex-wrap justify-content-around">

        <app-author-card class="child"
                         *ngFor="let author of indexPageAuthors"
                         [authorName]="author.name"
                         [authorWebsite]="author.website"
                         [authorTwitter]="author.twitter"
                         [authorRole]="author.role"
                         [authorDescription]="author.description">
        </app-author-card>


      </div>
    </div>
  </div>
</section>

<!-- Statistics Row -->
<section class="section-statstics container-fluid">
  <div class="container p-5">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="text-center"><span class="count-number d-block">1200</span>
        <p><span role="img" aria-label="University hat">🎓</span> Papers Submitted<span role="img"
                                                                                        aria-label="University hat">🎓</span>
        </p>
        <button class="btn btn-success">Submit a paper</button>
      </div>
      <div class="text-center"><span class="count-number d-block">200</span>
        <p><span role="img" aria-label="cool emoji">😎</span> Registered Researchers<span role="img"
                                                                                          aria-label="cool emoji">😎</span>
        </p>
        <button class="btn btn-primary">Register</button>
      </div>
      <div class="text-center"><span class="count-number d-block">1</span>
        <p><span role="img" aria-label="red book">📕</span> Issues Published<span role="img"
                                                                                  aria-label="red book">📕</span></p>
        <button class="btn btn-danger">View Issues</button>
      </div>
    </div>
  </div>
</section>
