<div class="container">
  <div class="navigation-bar" id="top">
    <nav class="navbar navbar-expand-md navbar-light bg-red"><a routerLink="/" class="navbar-brand">Novel Computation
      &amp;
      Control</a>
      <button type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav"></ul>
        <ul class="ml-auto navbar-nav">
          <li class="nav-item"><a routerLink="/journal/" class="nav-link">Journal</a></li>
          <li class="nav-item"><a routerLink="/issues/" class="nav-link">Issues</a></li>
          <li class="nav-item"><a routerLink="/guidelines/" class="nav-link">Guidelines</a></li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle">
              Account
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <div *ngIf="!checkIfAuthenticated()">
                <a class="dropdown-item" routerLink="/login"><i class="far fa-user"></i> Login</a>
                <a class="dropdown-item" routerLink="/register"><i class="fas fa-user-plus"></i> Register</a>
              </div>
              <div *ngIf="checkIfAuthenticated()">
                <a class="dropdown-item" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                <a class="dropdown-item" routerLink="/submit"><i class="fas fa-plus-square"></i> Submit Manuscript</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/settings"><i class="fas fa-sliders-h"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
