<div class="row justify-content-center">
  <!--Error Messages-->
  <div *ngIf="message" class="col-12">
    <ngb-alert [type]="messageType" [dismissible]="false">
      <strong>Warning!</strong> {{ message }}
    </ngb-alert>
  </div>

  <div class="text-center">
    <h1>Your Dashboard</h1>
    <p class="text-secondary">Here you will be able to see your submitted papers and their status!</p>

    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Editor</th>
        <th scope="col">Manuscript</th>
        <th scope="col">Cover Letter</th>
        <th scope="col">Supplementary Materials</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paper of data; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td class="text-capitalize">{{paper.title | slice:0:30 }}</td>
        <td class="text-capitalize">{{ paper.status}}</td>
        <td class="text-capitalize">
          <button class="btn btn-primary" (click)="assignEditor()">Assign Yourself</button>
        </td>
        <td><a [href]="paper.manuscript">Download</a></td>
        <td><a [href]="paper.cover_letter">Download</a></td>
        <td *ngIf="paper.supplementary_materials"><a [href]="paper.supplementary_materials">Download</a></td>
        <td *ngIf="!paper.supplementary_materials"><p>None</p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
