<main class="container py-5">
  <div *ngIf="message" class="col-12">
    <ngb-alert [type]="messageType" [dismissible]="false">
      <strong>Warning!</strong> {{ message }}
    </ngb-alert>
  </div>
  <header>
    <h1>Settings</h1>
    <hr>
  </header>
  <article class="row">
    <div class="col-md-4 col-sm-12 order-md-0 order-sm-1 order-1">

      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal text-center">{{profile.title}} {{user.firstName}} {{user.lastName}}</h4>
        </div>
        <div class="card-body">
          <i class="d-block mx-auto img-avatar fas fa-user"></i>
          <ul class="list-unstyled ml-2 mt-3 mb-4">
            <li *ngIf="profile.country"><b>Country:</b> {{profile.country}}</li>
            <li *ngIf="profile.phone"><b>Phone:</b> {{profile.phone}}</li>
            <li *ngIf="user.email"><b>Email:</b> {{user.email}}</li>
            <li *ngIf="profile.affiliation"><b>Affiliation:</b> {{profile.affiliation}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 order-md-1 order-sm-0 order-0"> <!-- Tabs -->
      <ngb-tabset type="pills">
        <ngb-tab title="Profile">
          <ng-template ngbTabContent>
            <div class="p-2">

              <form class="py-5"
                    [formGroup]="profileForm"
                    (ngSubmit)="updateProfile(profileForm.value)">

                <div class="form-group">
                  <label for="country">Country</label>
                  <select [formControl]="profileForm.controls['country']" class="custom-select my-1 mr-sm-2"
                          id="country">
                    <option *ngFor="let country of validCountries" [value]="country"
                            [selected]="profile.country == country ? true : null">
                      {{country}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="title">Title</label>
                  <select [formControl]="profileForm.controls['title']" class="custom-select my-1 mr-sm-2" id="title">
                    <option *ngFor="let title of validTitles" [value]="title"
                            [selected]="profile.title == title ? true : null">
                      {{title}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" placeholder="Enter your phone number"
                         [formControl]="profileForm.controls['phone']" [value]="profile.phone">
                </div>
                <div class="form-group">
                  <label for="affiliation">Affiliation</label>
                  <input type="text" class="form-control" id="affiliation" placeholder="Enter your affiliation"
                         [formControl]="profileForm.controls['affiliation']" [value]="profile.affiliation">
                </div>

                <button type="submit" class="btn btn-block btn-primary">Change Profile!</button>
              </form>

            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Email">
          <ng-template ngbTabContent>
            <div class="p-2">
              <p>Email and stuff</p>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Password">
          <ng-template ngbTabContent>
            <div class="p-2">
              <p>Password and stuff</p>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </article>
</main>



